<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}ELMS{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<header>
    <h1>Employee Leave Management System</h1>
    <nav>
        <a href="{{ url_for('home') }}">Home</a>
        {% if session.get('user_id') %}
            {% if session['role'] == 'admin' %}
                <a href="{{ url_for('admindashboard') }}">Admin Dashboard</a>
            {% else %}
                <a href="{{ url_for('employeedashboard') }}">Dashboard</a>
            {% endif %}
            <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
        {% endif %}
    </nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>&copy; 2025 ELMS</p>
</footer>
</body>
</html>
